@font-face {
    font-family: "Cake";
    src: url(Cake_n_Truffles.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cake", sans-serif;
    color: #e4ebdb;
}

body {
    padding: 1rem;
}

main {
    background: linear-gradient(45deg, #008d36, #75aa31);
    width: 1000px;
    padding: 1rem;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    position: relative;
    left: 30px;
}

header img {
    height: 130px;
}

section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 35rem;
    width: 35rem;
    background-color: #94bf54;
    background-image: url(../imageAssets/hashGrid.png);
    background-position: center;
    background-size: cover;
    border-radius: 5%;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickedX {
    content: url(../imageAssets/smallX.png);
    position: relative;
    top: 15%;
    left: 15%;
}

.clickedO {
    content: url(../imageAssets/smallO.png);
    position: relative;
    top: 15%;
    left: 15%;
}

#playerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #e4ebdb;
    border-radius: 10%;
    padding: 1rem;
    margin: 1rem;
    height: 11rem;
}

.display img {
    height: 100px;
}

.scoreDisplay {
    display: flex;
    justify-content: space-around;
    width: 90%;
    font-size: 2rem;
}

.scoreDisplay img {
    height: 30px;
}

.scoreBoardText {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    color: #75aa31;
}

#startButton {
    margin: 1rem;
    color: #e4ebdb;
    background-color: #94bf54;
    border-style: none;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50px;
}

.playerOneColor {
    color: #f9b233;
}

.playerTwoColor {
    color: #e6332a;
}

.instructions {
    position: relative;
    margin-bottom: 5px;
    left: 20px;
}

#instructionsContainer {
    background-color: #94bf54;
    padding: 1rem;
    border-radius: 25px;
    width: 87%;
    margin: auto;
}